.requestReset {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.requestReset__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.requestReset__container h3 {
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.requestReset__form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 500px;
    height: auto;
    padding: 48px 32px 32px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 0.1px solid var(--primary-color);
    overflow: hidden;
}
.requestReset__form  .loadingMsg {
    position: absolute;
    width: 16px; 
    height: 16px;
    top: 12px;
    right: 12px;
}
.password_change-msg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 165, 165);
    font-size: 1.1rem;
    color: var(--greens);
    font-weight: 500;
}
.password_change-msg.success {
    background-color: rgb(183, 255, 183);
}
.requestReset__form .form__field {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0 5px;
    border-bottom: 1px solid var(--primary-color);
}
.control__user {
    display: flex;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    gap: 6px;
}
.control__btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background-color: rgba(244,136,71, 0.3);
    cursor: pointer;
    transition: all 0.2s linear;
    color: var(--greens);
}
.control__btn:hover {
    font-size: 1.07rem;
}
.control__btn.control__btn-active {
    background-color: var(--primary-color);
    color: #faf6fc;
}
.requestReset__form .form__field  input {
    background-color: rgb(249, 249, 249);
    height: 100px;
    padding: 5px;
    font-size: 0.9rem;
}
.requestReset__form button {
    padding: 8px 24px;
    border: none;
    background-color: var(--primary-color);
    font-size: 1.1rem;
    color: #fff;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.requestReset__form button:hover {
    transform: scale(1.05);
}

/* Media Queries */

@media screen and (max-width: 480px) {
    .requestReset__container {
        padding: 16px;
    }
    .requestReset__form {
        width: 100%;
        padding: 48px 16px 32px;
        gap: 32px;
    }
    .password_change-msg {
        font-size: 0.8rem;
    }
}