.survey__payment {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 32px 0;
}
.survey__payment-inner {
    width: 70%;
    height: auto;
    background-color: #faf6fc;
    padding: 32px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.payment__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
}
.payment__info {
    position: relative;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 12px;
}

.info__top h4 {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}
.package__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.info__item {
    width: 100%;
    height: max-content;
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info__item p {
    font-size: 0.8rem;
    font-weight: 300;
}
.info__item h6 {
    font-weight: 400;
    font-size: 1rem;
}
.powered_by {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6rem;
    font-weight: 300;
}
.powered_by a {
    color: var(--primary-color);
    text-decoration: underline;
}
.payment__form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px;
}
.error_message {
    position: absolute;
    top: 4px;
    width: calc(100% - 32px);
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 132, 132);
    color: #fff;
    font-size: 0.8rem;
    padding: 4px 12px;
    border-radius: 6px;
    z-index: 2;
}
.payment__header {
    width: 100%;
    color: #242424;
    border-bottom: 0.1px solid #bfbfbf;
    padding: 0 0 16px;
}
.payment__header h3 {
    font-weight: 400;
    font-size: 1.5rem;
}
.payment__header p {
    font-weight: 300;
    font-size: 0.8rem;
}
.payment__header a {
    color: #71357c;
    font-weight: 500;
    font-size: 1rem;
}
.form__fields {
    width: 100%;
}
.payment__form button {
    border: none;
    background-color: var(--primary-color);
    padding: 8px 24px;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 24px 0 0;
}
.payment__form button:hover {
    transform: scale(1.03);
}
.payment__form button:disabled {
    background-color: #ffb59a;
    cursor: not-allowed;
}


@media screen and (max-width: 900px) {
    .survey__payment {
        padding: 32px;
    }
    .survey__payment-inner {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .survey__payment {
        padding: 0;
    }
    .survey__payment-inner {
        padding: 24px 12px;
    }
    .payment__container {
        display:flex;
        flex-direction: column;
        gap: 16px;
    }
}