.afrimentary__terms {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 32px;
    background-color: rgba(244,136,71,0.4);
}
.afrimentary__terms::after {
    content: "";
    position: absolute;
    background-color: rgba(19,85,11,0.4);
    width: 200%;
    height: 100%;
    left: -50%;
    bottom: -50%;
    transform: rotate(-26deg);
}
.terms_wrapper {
    position: relative;
    padding: 32px 64px 0;
    width: 80%;
    height: 90%;
    background-color: #f4f4f4;
    overflow: hidden;
    border-radius: 32px;
    z-index: 2;
}
.terms_wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.9) 100%);
}
.terms__groups {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    position: relative;
} 
.terms__groups::-webkit-scrollbar {
    width: 10px;
}

.terms__groups::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
    border-radius: 32px;
    z-index: 4;
}

.terms__groups::-webkit-scrollbar-thumb {
    background-color: var(--greens);
    border-radius: 64px;
    outline: 1px solid slategrey;
}
.terms__groups > h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 300;
}
.group {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #424242;
    border-bottom: 1px solid var(--greens);
    padding-bottom: 48px;
}
.group h4 {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--greens);
    margin: 0 0 8px;
}
.terms__list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}
.term__title {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 500;
}
.term_item {
    margin: 0 0 0 32px;
}
.term_item h6 {
    font-size: 1rem;
    color: var(--greens);
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .terms_wrapper {
        padding: 16px 32px;
        width: 90%;
        height: 80%;
        background-color: #f4f4f4;
        overflow: hidden;
        border-radius: 32px;
    }
}
@media screen and (max-width: 480px) {
    .terms_wrapper {
        padding: 32px 16px;
        width: 95%;
        height: 90%;
        background-color: #f4f4f4;
        overflow: hidden;
        border-radius: 32px;
    }
    .terms__groups {
        padding: 12px;
    } 
    .terms__groups > h3 {
        font-size: 2rem;
    }
    .group h4 {
        font-size: 1.2rem;
    }
    .terms__list {
        width: 100%;
    }
    .term_item {
        margin: 0 0 0 8px;
    }
}