.afrimentary__contact {
    width: 100%;
    height: auto;
}
.form__container {
    width: 50%;
    height: auto;
    margin: 64px auto 0;
    padding: 32px 48px;
    box-shadow: 5px 5px 10px #adadad;
    border-radius: 16px;
}
.form__container h3 {
    font-size: 1.5rem;
    margin: 0 0 16px;
    font-weight: 400;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.response_message {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: rgb(166, 255, 196);
}
.response_message.err {
    background-color: rgb(255, 166, 166);
}
.form-group {
    width: 100%;
    min-height: 48px;
}
.form-group input {
    width: 100%;
    height: 48px;
    padding: 0 0 0 12px;
    border: 1px solid #9c9c9c;
    outline: 0.1px solid var(--primary-color);
}
.form-group textarea {
    width: 100%;
    height: 80px;
    padding: 12px;
    border: 1px solid #9c9c9c;
    outline: 0.1px solid var(--primary-color);
    resize: none;
}
.form-group button {
    padding: 6px 24px;
    font-size: 1.2rem;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 32px;
    cursor: pointer;
}
.contact__footer {
    width: 80%;
    margin: 0 auto;
    padding: 48px 0 0;
}

@media screen and (max-width: 900px) {
    .form__container {
        width: 90%;
    }
    .contact__footer {
        width: 90%;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .form__container {
        padding: 32px 16px;
        width: 95%;
        box-shadow: none;
    }
    .contact__footer {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;
    }
    
}