.afrimentary__hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero__bg-cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background:-moz-linear-gradient(150deg, rgba(0, 0, 0, 0.5) 11%, rgba(0, 0, 0, 1) 100%); 
    background:-webkit-linear-gradient(150deg, rgba(0, 0, 0, 0.5) 11%, rgba(0, 0, 0, 1) 100%);
    background:-o-linear-gradient(150deg, rgba(0, 0, 0, 0.5) 11%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(150deg, rgba(0, 0, 0, 0.5) 11%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.4) 11%, rgba(0, 0, 0, 9) 100%);
    z-index: 2;
}
.afrimentary__hero::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100px;
    background-color: #fff;
    top: calc(100% - 32px);
    left: -50%;
    transform: rotate(4deg);
    z-index: 3;
}
.hero__heading {
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 32px;
    z-index: 4;
}
.heading-primary {
    color: var(--primary-color);
}
.heading-whites {
    color: #fff;
}
.heading-last {
    position: relative;
}
.heading-last::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 7px;
    background-color: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.afrimentary__brief {
    position: relative;
    padding: 0 32px;
    margin: 64px 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--greens);
}

.afrimentary__mission {
    position: relative;
    background-color: var(--primary-color);
    height: auto;
    padding: 80px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission_sidebar p {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 16px;
    letter-spacing: 2px;
}
.mission__main > p {
    color: var(--greens);
    font-size: 1.5rem;
    font-weight: 500;
    word-spacing: 5px;
}
.afrimentary__how {
    position: relative;
    height: auto;
    padding: 128px 32px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: none;
}
.afrimentary__how::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 100px;
    background-color: var(--primary-color);
    bottom: calc(100% - 32px);
    left: -50%;
    transform: rotate(5deg);
}
.how__title p {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 16px;
}
.how__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}
.how__text-greens {
    position: relative;
    color: var(--greens);
}
.how__text-greens::after {
    content: "";
    width: 50%;
    height: 5px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    right: 0;
}
.how__cta {
    margin: 32px 0 0;
}
.how__cta p {
    color: var(--greens);
    font-size: 2rem;
    margin: 0 0 16px;
}
.cta__btn {
    border: none;
    padding: 16px 48px;
    background-color: var(--primary-color);
    transition: all 0.2s ease-in-out;
    border-radius: 32px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.cta__btn > a {
    color: #fff;
}
.afrimentary__faq {
    background-color: var(--primary-color);
    position: relative;
    height: auto;
    padding: 80px 32px;
    color: #fff;
}
.faq_title {
    font-size: 3rem;
    margin: 0 0 32px;
    font-weight: 500;
}
.home__footer {
    position: relative;
    height: auto;
    padding: 80px 32px 16px;
    color: var(--primary-color);
}
.footer__info {
    margin: 0 0 20px;
}
.footer__info h3 {
    font-weight: 500;
    font-size: 1.3rem;
}
.footer__menu {
    color: var(--greens);
}
.footer__socials {
    margin: 32px 0;
}
.copyright {
    font-size: 0.9rem;
    border-top: 0.5px solid var(--greens);
    padding: 12px 0 0;
    text-align: center;
}
.copyright a {
    color: var(--greens);
}

@media screen and (min-width: 480px) {
    .hero__heading {
        font-size: 4.5rem;
        word-spacing: 10px;
    }
    .afrimentary__brief {
        font-size: 3.5rem;
        font-weight: 500;
        margin: 80px 0;
    }
    .mission_sidebar h3 {
        font-size: 3.5rem;
    }
    .afrimentary__mission {
        padding: 96px 32px;
    }
    .mission__main > p {
        font-size: 2rem;
        font-weight: 600;
    }
    .afrimentary__how {
        padding: 144px 32px 96px;
    }
    .afrimentary__how::after {
        bottom: calc(100% - 48px);
    }
    .how__title p {
        font-size: 3.5rem;
    }
    .how__text {
        font-size: 2rem;
        font-weight: 500;
    }
    .how__cta p {
        font-size: 3rem;
    }
    .afrimentary__faq {
        padding: 96px 32px;
    }
    .cta__btn {
        padding: 20px 48px;
        font-size: 2rem;
        border-radius: 48px;
    }
    .faq_title {
        font-size: 3.5rem;
    }
    .home__footer {
        padding: 96px 32px 16px;
    }
    .footer__main {
        display: flex;
        justify-content: space-between;
        padding: 0 0 60px
    }
    .footer__info h2 {
        font-size: 2.5rem;
        font-weight: 500;
    }
    .footer__info h3 {
        font-weight: 400;
        font-size: 1.5rem;
        width: 40ch;
    }
    .copyright {
        font-size: 1.1rem;
        padding: 16px 0 0;
    }
}
@media screen and (min-width: 769px) {
    .afrimentary__how::after {
        bottom: calc(100% - 64px);
        transform: rotate(3deg);
    }  
}
@media screen and (min-width: 1024px) {
    .afrimentary__hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero__heading {
        font-size: 3.5rem;
        width: 60%;
    }
    .afrimentary__brief {
        width: 80%;
        font-size: 3.5rem;
        font-weight: 500;
    }
    .afrimentary__mission  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 48px;
        padding: 96px 32px
    }
    .mission__main > p {
        font-size: 2.2rem;
        word-spacing: 7px;
        font-weight: 400;
    }
    .mission_sidebar p {
        line-height: 1;
        padding: 0;
    }
    .cta__btn {
        padding: 12px 32px;
        font-size: 1.6rem;
        border-radius: 48px;
        transition: all 0.3s ease-in;
    }
    .cta__btn:hover {
        transform: scale(1.05);
    }
    .how__text {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }
    .how__cta p {
        font-size: 2.5rem;
    }
    .afrimentary__faq {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq_title {
        font-size: 3rem;
    }
    .copyright {
        font-size: 0.9rem;
    }
}
