.faq_container {
    width: 100%;
    min-height: auto;
    border-top: 0.5px solid #fff;
}
.faq_container:last-child {
    border-bottom: 0.5px solid #fff;
}
.qn_container {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
    /* border: 1px solid blueviolet; */
}
.question {
    width: 80%;
    font-weight: 600;
}
.answer {
    color: #e5e5e5;
    padding: 0 0 16px;
    text-align: justify;
}
@media screen and (min-width: 480px) {
    .question {
        font-size: 1.8rem;
    }
    .answer {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 1024px) {
    .faq__question {
        width: 70%;
    }
    .question {
        font-size: 1.3rem;
    }
    .answer {
        font-size: 1rem;
    }
}

