@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary-color: rgb(244,136,71);
  --greens: rgb(19,85,11);
  --primary-font: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}