@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary-color: #fd7e50;
  --greens: rgb(19,85,11);
  --primary-font: 'Poppins', sans-serif;
  --error-color: rgb(255, 99, 99);
  --success-color: rgb(183, 255, 183);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}